/* ڕێکخستنی گشتی بۆ هەموو پەیجەکە */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34; /* ڕەنگی پشتێنەی تاریک */
  color: white; /* ڕەنگی نووسین */
}

/* ستایلی لۆگۆکە ئەگەر هەبێت */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* جووڵەی سوڕانەوە بۆ لۆگۆکە */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* ستایلی سەرپەڕە (Header) */
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* ستایلی لینکەکان */
.App-link {
  color: #61dafb;
}

/* ئەنیمەیشنی سوڕانەوەکە */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
